@import "fonts"
@import "libs"
@import "vars"

body
    position: relative
    min-width: 320px
    line-height: $lh-default
    font-family: $ff-regular
    font-size: 16px
    background-color: $bg-color
    color: $txt-color
    overflow-x: hidden
    opacity: 1
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale


